{% extends "base.html" %} {% block titulo %} Mis publicaciones {% endblock %} {% block contenido_principal %}
<h2>Mis cuentas</h2>


<!-- http://librosweb.es/libro/bootstrap_3/capitulo_2/tipos_de_rejillas.html -->
<!-- Inicio del Bloque canción  -->
<div class="card-deck">
	{% for cuenta in cuentas %} {% if cuenta.cantidad>=0 %}
	<div  class="card text-white bg-success mb-3" style="max-width: 20rem;">
		<div class="card-header">Cuentas max joven</div>
		<div class="card-body">
			<h4 class="card-title">Titular: {{cuenta.titular}}</h4>
			<p class="card-text">IBAN {{cuenta.numero}}</p>
			<p class="card-text">Tipo: {{cuenta.tipo}}</p>
			<p class="card-text">Saldo: {{cuenta.cantidad}}</p>
			<a href="/cuenta/modificar/{{ cuenta._id.toString() }}" class="card-link">modificar</a>
			<a href="/cuenta/delete/{{ cuenta._id.toString() }}" class="card-link">eliminar</a>
		</div>
		<a id="detail" href="/transacciones" style="visibility: hidden; background: rgba(255, 255, 255,0.5);width: 42px;right: 0px !important;position: absolute;height: 172px;text-align: center;text-decoration: none;padding: 77px 33px;">&#8250;</a>
	</div>
	{% else %}
	<div  class="card text-white bg-danger mb-3" style="max-width: 20rem; ">
		<div class="card-header">Cuentas max joven</div>
		<div class="card-body">
			<h4 class="card-title">Titular: {{cuenta.titular}}</h4>
			<p class="card-text">IBAN {{cuenta.numero}}</p>
			<p class="card-text">Tipo: {{cuenta.tipo}}</p>
			<p class="card-text">Saldo: {{cuenta.cantidad}}</p>
			<a href="/cuenta/modificar/{{ cuenta._id.toString() }}" class="card-link">modificar</a>
			<a href="/cuenta/delete/{{ cuenta._id.toString() }}" class="card-link">eliminar</a>
		</div>
		<a id="detail" href="/transacciones" style="visibility: hidden; background: rgba(255, 255, 255,0.5);width: 42px;right: 0px !important;position: absolute;height: 172px;text-align: center;text-decoration: none;padding: 77px 33px;">&#8250;</a>
	</div>
	{% endif %} {% endfor %}
</div>
<!-- Fin del Bloque canción  -->
<script>
$( ".card" ).mouseover(function(e) {
	console.log($(this).children()[2]);
	$(this).children("#detail").css("visibility","visible");
});
$( ".card" ).mouseout(function(e) {
	console.log(e);
	$(this).children("#detail").css("visibility","hidden");
});

</script>


<!-- Agregar Canción -->
<div class="row text-right">
	<a href="/cuenta/crear" class="btn btn-info" role="button">Nueva cuenta</a>
</div>

{% endblock %}