<!DOCTYPE html>
<html lang="en">

<head>
  <title>Inicio</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/css.css"/>
</head>
<body >
 
  <div id="inicioCont" class="container">
        <a href="/desconectarse"><button type="submit" class="btn btnBack"><span class="glyphicon glyphicon-log-out"></span></button></a>
    <a  href="/empresas" id="izquierda" class="fondo">
        <div class="layer"></div>
        <h2 style="position: absolute;top: 40%;left: 36%;">Empresas</h2>
    </a>
    <a  href="/cuentas" id="derecha" class="fondoDerecho">
            <div class="layer"></div>
        <h2 style="position: absolute;top: 40%;left: 44%;">Particulares</h2>
    </a>
</div>
  
  
</body>

</html>