<!DOCTYPE html>
<html lang="en" style="height: 100%; overflow:hidden;">

<head>
    <title> Bank</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</head>

<body class="empresaBody">


    <!-- Barra de Navegación superior -->
    <nav class="navbar  navUl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                                <i class="fa fa-user-secret" aria-hidden="true"></i>
                                Banca privada</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                                <i class="fa fa-handshake-o" aria-hidden="true"></i>                                
                            Financiación</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                        <li>
                          <a href="#">
                            <i class="fa fa-car" aria-hidden="true"></i>                            
                            Renting</a>
                        </li>
                      </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </i>                                
                            Acciones</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                                <i class="fa fa-users" aria-hidden="true"></i>                                
                            Consejo directivo</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/form">
                                <i class="fa fa-users" aria-hidden="true"></i>                                
                            Inversores</a>
                    </li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">

                    <li id="bDesconectarse">
                        <a href="/desconectarse">
                            <span class="glyphicon glyphicon-log-out"></span> Exit</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        
                                  <li id="bDesconectarse">
                                    <a href="/desconectarse">
                                      <i class="fa fa-question" aria-hidden="true"></i>
                                      Quienes somos</a>
                                  </li>
                                </ul>
            </div>
        </div>
    </nav>


    <div class="padd">
        <div class="fondoBase">


<div class="jumbotron">
    <h2> Sobre nosotros</h2> 
    <p>
    	DPIU CAPITAL ES EL FONDO DE CAPITAL PRIVADO LÍDER EN ESPAÑA EN INVERSIONES EN SITUACIONES ESPECIALES CON MÁS DE 1200 MILLONES DE EUROS BAJO GESTIÓN.
	</p> 
</div>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
        Inversiones</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
		<p>
			DPIU CAPITAL es el fondo de capital privado líder en inversiones en medianas empresas en
			España que atraviesan situaciones especiales, de especial complejidad y/o que requieren
			procesos de transformación. En este sentido, típicamente invierte tanto en el capital como en
			la deuda de empresas que cuentan con un buen posicionamiento estratégico pero que se
			enfrentan a importantes desafíos estratégicos, operativos, financieros o accionariales.
		</p>
		<a data-toggle="collapse" data-target="#seguir">Leer más</a>
		<div id="seguir" class="collapse">
			<p>
				La tesis de inversión caracteriza a DPIU CAPITAL como un socio activo y comprometido que
				contribuye con una visión de largo plazo, el capital necesario, un equipo propio con talento y
				una dilatada experiencia para crear valor y asegurar la competitividad de las empresas donde
				invierte.
			</p>
			<p>
				DPIU CAPITAL está respaldada por importantes inversores institucionales internacionales y por
				empresarios de éxito en sus respectivos sectores. Junto a ello, los propios gestores de DPIU
				CAPITAL mantienen igualmente un importante compromiso como inversores en el fondo
			</p>
			<p>
				DPIU CAPITAL está registrada en la CNMV como Sociedad Gestora de Entidades de Inversión
				de Tipo Cerrado.
			</p>
		</div>		
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
        Trayectoria</a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
		<p>
			DPIU CAPITAL AL CONSTITUYE LA FIRMA MÁS ACTIVA EN INVERSIONES EN SITUACIONES
			ESPECIALES DE TAMAÑO MEDIO
		</p>
		<p>
			DPIU CAPITAL ha realizado 129 inversiones en los últimos cuatro años posicionándose como la
			firma líder en situaciones especiales de tamaño medio en España.
		</p>
		<a data-toggle="collapse" data-target="#seguir2">Leer más</a>
		<div id="seguir2" class="collapse">
			<p>
				DPIU CAPITAL cuenta con el equipo más experimentado en España para invertir en situaciones
				especiales
			</p>
			<p>
				DPIU CAPITAL goza de claras ventajas competitivas en el cierre de la transacción dada su
				capacidad para cerrar operaciones de manera rápida (en 30 días), y su flexibilidad en la
				estructura de la operación (participaciones, precios, deuda, etc.) y las garantías aportadas por
				los vendedores
			</p>
			<p>
				Importantes grupos financieros e industriales han confiado en SHERPA DPIU CAPITAL para
				desinversiones de parte de sus activos
			</p>
			<p>
				Una única labor: la gestión de activos financieros DPIU CAPITAL opta por gestionar una gama
				limitada de estrategias para lograr una mayor revalorización del capital de sus clientes a lo
				largo del tiempo.
			</p>
		</div>		
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Metodolodía y equipo</a>
      </h4>
    </div>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">
		<p>
			En cuanto a nuestro método, preferimos una gestión realista basada en nuestras destrezas.
		</p>
		<p>
			Los productos insignia de la casa, DPIU CAPITAL Investissement, DPIU CAPITAL Patrimoine y
			DPIU CAPITAL Securité, se lanzaron en 1989, con una marcada orientación internacional y
			hacia los países emergentes. Desde entonces, estos dos Fondos no han dejado de demostrar
			su resistencia a largo plazo, especialmente en periodos muy bajistas. Esa solidez corrobora la
			capacidad de DPIU CAPITAL para compaginar rentabilidad y gestión de riesgos.
		</p>
		<a data-toggle="collapse" data-target="#seguir3">Leer más</a>
		<div id="seguir3" class="collapse">
			<p>
				NUESTRO EQUIPO ESTÁ FORMADO POR DESTACADOS EJECUTIVOS PROCEDENTES DE FIRMAS
				DE CONSULTORÍA, PUESTOS DIRECTIVOS, CAPITAL RIESGO Y BANCA DE INVERSIÓN, TODOS
				ELLOS CON UNA DILATADA EXPERIENCIA EN EL SECTOR DE LA REESTRUCTURACIÓN
				EMPRESARIAL
			</p>
			<p>
				ADEMÁS, NOS ASOCIAMOS CON EQUIPOS GESTORES EN LA EJECUCIÓN DE LOS PLANES DE
				VIABILIDAD Y DE REESTRUCTURACIÓN DE LAS COMPAÑÍAS OBJETIVO.
			</p>
		</div>		
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Objetivo</a>
      </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse">
      <div class="panel-body">
		<p>
			Inversiones en empresas en situaciones especiales que se enfrentan a importantes retos
			estratégicos, operativos o financieros pero que cuenta con ventajas competitivas sostenibles y
			con posiciones relevantes en sus mercados.
		</p>
		<a data-toggle="collapse" data-target="#seguir4">Leer más</a>
		<div id="seguir4" class="collapse">
			<p>
				Facturación entre € 20M y 300M si bien no se descartan operaciones de mayor tamaño en coinversión.
			</p>
			<p>
				Enfoque multi-sectorial excepto sector financiero e inmobiliario.
			</p>
			<p>
				Interés especial por oportunidades de consolidación sectoriales (buy and build).
			</p>
			<p>
				Participación siempre con control de la gestión (mayoritaria o minoritaria).
			</p>
		</div>		
		</div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
        Filosofía</a>
      </h4>
    </div>
    <div id="collapse5" class="panel-collapse collapse">
      <div class="panel-body">
		<p>
			METODOLOGÍA EXPERIENCIA Y CREACIÓN DE VALOR NUESTRA FILOSOFÍA SE BASA EN
			APORTAR NO SOLO CAPITAL SINO FUNDAMENTALMENTE GESTIÓN COMO PALANCA DE
			CREACIÓN DE VALOR EN LAS INVERSIONES:
		</p>
		<a data-toggle="collapse" data-target="#seguir5">Leer más</a>
		<div id="seguir5" class="collapse">
			<p>
				El éxito sistemático a lo largo de los años, con rentabilidades muy por encima de la media de la
				industria, ha permitido a Sherpa Capital desarrollar una metodología para los procesos de
				transformación de compañías implementada con éxito en más de 150 empresas. Los aspectos
				fundamentales en los que se sustenta son:
			</p>
			<ul id="filosofia">
				<li>Definición y ejecución del Plan de 100 y 200 días.</li>
				<li>Trabajo conjunto con el equipo directivo reforzándolo y apoyándolo cuando es necesario con nuestros propios ejecutivos de gestión.</li>
				<li>Planes de crecimiento mediante internacionalización.</li>
				<li>Planes de adquisiciones para consolidar el sector. Habitualmente todas nuestras participadas adquieren al menos otra compañía de su industria.</li>
				<li>Redefinición financiera con especial énfasis en lo relacionado con la estructura financiera y liquidez.</li>
				<li>Plan estratégico, reorientación estratégica y operativa del negocio.</li>
			</ul>
		</div>		
		</div>
    </div>
  </div>
</div>











        </div>
    </div>
    <div class="menuBottom">
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-building" aria-hidden="true"></i>
                  Oficinas y Cajeros</a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  666-666-666</a>
              </li>
            </ul>
          </div>
</body>

</html>